body {
  background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}

.ryu {
	float: left;
}

.ryu-cool, .ryu-ready, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
}

.ryu-cool, .ryu-ready, .ryu-throwing  {
  display: none;
} 

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 167px;
	left: -212px;
	float: left;
}

.logo {
  background-image: url('../images/sf-logo.png');
  background-repeat: no-repeat;
  width: 800px;
  height: 800px;
  display: none;
  position: absolute;
  top: 148px;
  left: 681px;
  float: right;
}

.throw {
  font-family: impact;
  font-size: 30px;
  width: 800px;
  height: 800px;
  position: absolute;
  top: 250px;
  left: 681px;
  float: right;
}

.strike {
  font-family: impact;
  font-size: 30px;
  width: 800px;
  height: 800px;
  position: absolute;
  top: 400px;
  left: 781px;
  float: right;

  
  
}